.input {
	display: none;
}
.input:checked ~ .label > .hamburger_checkbox--container span:nth-child(1) {
	transform: translateY(1.13rem) rotate(45deg);
}
.input:checked ~ .label > .hamburger_checkbox--container span:nth-child(2) {
	transform: scaleX(0);
	opacity: 0;
}
.input:checked ~ .label > .hamburger_checkbox--container span:nth-child(3) {
	transform: translateY(-1rem) rotate(-45deg);
}

.label {
	position: relative;
	display: block;
	width: 3.5rem;
	cursor: pointer;
	z-index: 5;

	.hamburger_checkbox--container {
		padding: 0.5rem;

		span {
			position: relative;
			display: block;
			width: 2.5rem;
			height: 0.25rem;
			transition: all ease 150ms;
		}

		span:nth-child(2) {
			margin-top: 0.8rem;
		}
		span:nth-child(3) {
			margin-top: 0.8rem;
		}
	}
}
