$small: 0.5rem;
$medium: 1rem;
$large: 1.5rem;

$max_width: 1000px;
$max_navBar_width: 550px;

$navBar_height: 4rem;

$white1: rgb(251, 253, 254);
$white2: rgb(243, 249, 252);
$white3: rgb(236, 245, 248);
$white4: rgb(228, 242, 246);
$white5: rgb(224, 236, 240);

$black1: rgb(108, 111, 111);
$black2: rgb(71, 76, 76);
$black3: rgb(51, 56, 56);
$black4: rgb(32, 37, 37);
$black5: rgb(30, 33, 33);
