@import "./variables.module.scss";

div.story__container {
	margin: 0;
	max-width: 35rem;
	padding: 0 1rem;
}

@media (min-width: $min_tablet) {
	div.story__container {
		margin: -10rem auto 0 auto;
		max-width: 35rem;
		background: white;
		padding: 0 1rem;
		border-top-left-radius: $radius_small;
		border-top-right-radius: $radius_small;
	}
}
