@import "./variables.module.scss";

div.story__container {
	margin: 0;
	max-width: 35rem;
	padding: 0 1rem 2rem 1rem;
}

div.statement__container {
	margin: 0;
	max-width: 35rem;
	padding: 0 1rem 2rem 1rem;
}

section.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: static;
	margin-bottom: 2rem;
}

div.section__heading {
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}
