@import "./variables.module.scss";

div.contrast__container {
	padding: 1rem 2rem 1rem 2rem;
	max-width: 60rem;
	background: $black1;
	color: $white1;
}

section.overlay {
}

.textContent__container {
	background: white;
}

section.section {
	margin-bottom: 2rem;
}

div.section__heading {
	height: auto;
	// background: red;
	margin: 10vh 10vw;
	text-align: center;
	font-size: 1.25rem;
}

div.section__cardContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

div.bookButton__container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 1rem;
}

@media (min-width: $min_tablet) {
	.textContent__container {
		max-width: 80rem;
		margin: -10rem 4rem 2rem 4rem;
		border-radius: $radius_large;
	}
}
