@import "./variables.module.scss";

div.contrast__container {
	padding: 1rem 2rem 1rem 2rem;
	max-width: 60rem;
}

section.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: static;
	margin-bottom: 2rem;
}

div.qualifications__section {
	padding: 0 1.5rem;
	max-width: $max_width;
}

div.section__heading {
	height: auto;
	// background: red;
	// margin: 10vh 10vw;
	padding: 10vh 0;
	margin-top: 0;
	text-align: center;
	font-size: 1.5rem;

	h1 {
		margin: 0;
	}
}

div.section__cardContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

div.bookButton__container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 1rem;
}

@media (min-width: $min_tablet) {
	.textContent__container {
		max-width: 80rem;
		margin: -10rem 4rem 2rem 4rem;
		border-radius: $radius_large;
	}
}
