@import "./variables.module.scss";

.hero_container {
	position: relative;
	width: auto;
	background: $white2;
	padding: 1rem 1.5rem;

	.hero_title {
		display: inline;
		// color: $white2;
		font-weight: bold;
	}
}

.service_box {
	position: relative;
}
