@import "./variables.module.scss";

.textContentContainer__container {
	padding: 0 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}

.textContent__container {
	min-width: 16rem;
	max-width: 30rem;
	margin: 2rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	.textContent__header {
		position: relative;
		margin: 0 0 1rem 2rem;
		display: inline-block;
		padding-right: 1rem;
		color: $white1;
		z-index: 1;

		&:before {
			content: "";
			position: absolute;
			right: -2rem;
			border-bottom: 4rem solid $red1;
			border-right: 2rem solid transparent;
			z-index: -1;
		}

		&:after {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			border-top: 4rem solid $red1;
			border-left: 2rem solid transparent;
			z-index: -1;
		}
	}

	div.textContent__body {
		width: 100%;
	}
}

div.serviceContent__container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	margin: 1rem 0;
	background: rgba(0, 20, 50, 0.05);
	border-radius: $radius_small;
	overflow: hidden;
	box-shadow: 0 1rem 1rem -1rem $black1_a5;
	transition: all ease 200ms;

	div.serviceContent__header {
		width: 100%;
		text-align: center;
		background-color: $red1;
		color: $white1;
	}

	div.serviceContent__body {
		overflow: auto;
		max-height: 15rem;
		padding: 1rem;
		margin: 0.5rem;
	}
}

@media (min-width: $min_tablet) {
	div.serviceContent__container {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
		margin: 1rem 0;

		div.serviceContent__header {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 10rem;
		}

		div.serviceContent__body {
			max-height: 10rem;
		}
	}
}
